*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3{
    font-family: 'Quicksand', sans-serif;
    color: #EEEEEE;
    font-size: 30px;
}
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 10fr 2fr; 
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer"; 
}
.subtitulos{
    margin: 20px;
    text-align: left;
}
p{
    font-family: 'Playfair Display', serif;
    color: #EEEEEE;
    margin: 20px;
    text-align: left;
    font-size: 15px;
}
header{
    background-color: #000000;
    height: auto;
    grid-area: header;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    text-align: center;
    margin: 20px;
    height: 25px;
    width: 80px;
    transition: 1.5s;
    
}
li a {
    text-decoration: none;
    color: #4ECCA3;
    font-size: 1.3rem;
}
li:hover{
    border: 1.5px #232931;
    background-color: #393E46;
    transform:scale(1.1);
    opacity: 0.8;
}
main{
    background-color: #000000;
    height: auto;
    grid-area: main;
}
.imgPrincipal{
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto auto auto;
}
.bloquePrincipal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    background-color: #4ECCA3;
}
.bloqueblock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    background-color:#393E46;
    box-shadow: 1px 1px 10px #393E46;
    margin: 5px;
    transition: all 1s;
}
.bloque:hover{
    transform: scale(1.04);
    opacity: 0.9;
}
.bloqueimg{
    width: 200px;
    margin: 50px 50px 10px 50px;
}

.bloqueparrafo{
    color: #EEEEEE;
    padding: 20px;
    width: 100%;
    text-align: left;
}
.bloqueSubtitulos{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
footer{
    background-color: #000000;
    grid-area: footer;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoPrincipalFooter{
    width: 150px;
    padding-top: 20px;
}
.bloquelogo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.bloqueredes{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: auto;
}

.logofooter{
    width: 50px;    
    padding-left: 5px;
    padding-right: 5px;
}

/* TERMINA INDEX */

/* INICIO ÁREAS */

.bloqueLenguaje{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-around;
    padding-top: 30px;
}
.imglenguaje{
    width: 450px;
    height: 450px;
    margin-left: 30px;
    border: 1px #000000 transparent;
    border-radius: 100%;
    box-shadow: 1px 1px 20px #4ECCA3;
}
.h3titulo {
    margin: 10px;
}
.imagenlenguaje{
    display: flex;
    justify-content: left;
} 
.textolenguaje{
    width: 700px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    border: 1px grey solid;
    
}

/* TERMINA ÁREAS */

/* INICIO NOSOTROS */

.frase {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 60%;
}
.textofrase {
    display: flex;
    justify-content: center ;
    color: grey;
    
}
.autor{
    display: flex;
    color: #4ECCA3;
    justify-content: right;
    align-items: center;
    font-size: 01.6rem;
}
.subtPrin{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.fondoclaro{
    box-shadow: 1px 1px 20px #4ECCA3;
}
.fondooscuro{
    box-shadow: 1px 1px 20px #393E46;
}


/* TERMINA NOSOTROS */

/*INCIA CONTACTO*/

.bloqueformulario{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 18px;
    padding-left: 30px;
    background: linear-gradient(#4ECCA3,#393E46)
}
form{
    width: 95%; 
}
label{
    margin: 10px;
}
input{
    width: 30%;
    height: 25px;
    display: flex;
    justify-content: right;
    margin: 10px;
}
.radiostyle{
    width: 15px;
    height: 15px;
}
textarea{
    margin: 10px;
    width: 300px;
}
.button{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px auto;
}

/*TERMINA CONTACTO*/

                                     /* COMIENZA LAS @MEDIAS QUERIES */

/* Comienza media queries para tablets */

@media screen and (min-width: 768px) and (max-width: 1024px){

    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
          "header header header"
          "main main main"
          "footer footer footer"; 
    }
    .bloquePrincipal{
        display: flex;
        flex-direction: column;
    }
    .bloqueblock{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }
    .bloque{
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    .bloqueimg{
        margin: 50px;
    }
    .logofooter{   
        padding: auto;
    }
    
    /* TERMINA INDEX */
    
    /* INICIO ÁREAS */
    
    .bloqueLenguaje{
        flex-direction: column;
        justify-content: center;
    }
    .imglenguaje{
        width: 450px;
        height: 450px;
        margin: auto;
    }
    .imagenlenguaje{
        align-items: center;
    }
    
    /* TERMINA ÁREAS */
    
    /* INICIO NOSOTROS */
             /* esta completo */
    /* TERMINA NOSOTROS */
    
    /*INCIA CONTACTO*/
             /* esta completo */
    /*TERMINA CONTACTO*/
}
/* Termina media queries para tablets */

/* Comienza media queries para celulares */

@media screen and (min-width: 320px) and (max-width: 767px){

    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
          "header header header"
          "main main main"
          "footer footer footer"; 
    }
    header{
        height: auto;
    }
    .navbar{
        height: auto;
    }

    ul li{
        margin: 10px;
    }
    .imgPrincipal{
        width: 100%;
    }
    /* TERMINA INDEX */
    
    /* INICIO ÁREAS */
    
    .bloqueLenguaje{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .imglenguaje{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .imagenlenguaje{
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .textolenguaje{
        width: 100%;
    }
    
    /* TERMINA ÁREAS */
    
    /* INICIO NOSOTROS */
    
    .frase {
        width: 90%;
    }
    
    /* TERMINA NOSOTROS */
    
    /*INCIA CONTACTO*/
    
    input{
        width: 50%;
    }

    /*TERMINA CONTACTO*/
}
/* Termina media queries para celulares */
