@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* VARIABLES */
header {
  background-color: #000000;
  height: auto;
  grid-area: header; }

footer {
  background-color: #000000;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center; }
  footer .bloquelogo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center; }
    footer .bloquelogo .logoPrincipalFooter {
      width: 150px;
      padding-top: 10px; }
  footer .bloqueredes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto; }
    footer .bloqueredes .logofooter {
      width: 40px;
      margin: 5px; }

/* BODY */
body {
  /* Pagina noticias */ }
  body .contenedorGeneral {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 2fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    /* Pagina nosotros*/
    /* Pagina Areas*/
    /* Pagina contacto */ }
    body .contenedorGeneral main {
      background-color: #000000;
      height: auto;
      grid-area: main; }
      body .contenedorGeneral main section .imgPrincipal {
        width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto auto auto; }
      body .contenedorGeneral main .bloquePrincipal {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        background-color: #4ECCA3; }
        body .contenedorGeneral main .bloquePrincipal .bloqueSubtitulos {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          body .contenedorGeneral main .bloquePrincipal .bloqueSubtitulos .subtitulos {
            margin: 20px;
            text-align: left;
            font-family: "Quicksand";
            color: #EEEEEE; }
          body .contenedorGeneral main .bloquePrincipal .bloqueSubtitulos p {
            color: #EEEEEE;
            font-family: sans-serif; }
        body .contenedorGeneral main .bloquePrincipal .bloqueblock {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center; }
          body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque, body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 300px;
            height: 700px;
            background-color: #393E46;
            box-shadow: 1px 1px 10px #393E46;
            margin: 5px;
            transition: all 1s; }
            body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque .bloqueimg, body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover .bloqueimg {
              width: 200px;
              margin: 50px 50px 10px 50px; }
            body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque h2, body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover h2 {
              font-family: "Quicksand";
              color: #EEEEEE;
              text-align: center; }
            body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque .bloqueparrafo, body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover .bloqueparrafo {
              font-family: sans-serif;
              color: #EEEEEE;
              padding: 10px;
              width: 100%;
              text-align: left; }
            body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque .link_areas, body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover .link_areas {
              display: flex;
              align-items: b;
              justify-content: center; }
          body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover {
            transform: scale(1.04);
            opacity: 0.9; }
    body .contenedorGeneral .bloque_autor {
      width: 75%;
      background: linear-gradient(#4ECCA3, #393E46);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 40px auto; }
      body .contenedorGeneral .bloque_autor .frase {
        font-size: 1.3rem;
        text-align: left;
        color: #000000;
        width: 95%;
        margin: 10px auto; }
      body .contenedorGeneral .bloque_autor .autor {
        text-align: right;
        color: #000000;
        margin: 10px 50px 10px auto;
        font-size: "Quicksand"; }
    body .contenedorGeneral .parrafonos {
      font-family: sans-serif;
      color: #EEEEEE;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      columns: wrap; }
    body .contenedorGeneral .bloquenosotros {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: auto; }
      body .contenedorGeneral .bloquenosotros .card_nosotros {
        width: 130px;
        margin: 40px auto; }
        body .contenedorGeneral .bloquenosotros .card_nosotros img {
          margin: 40px;
          width: 50%;
          background-color: #EEEEEE;
          border-radius: 15px;
          text-align: center; }
        body .contenedorGeneral .bloquenosotros .card_nosotros h5 {
          text-align: center;
          background-color: #000000;
          color: #EEEEEE; }
    body .contenedorGeneral .fondo {
      background-color: #000000; }
      body .contenedorGeneral .fondo .titgeneralareas {
        color: #EEEEEE;
        text-align: center;
        padding-top: 30px; }
    body .contenedorGeneral .bloqueLenguaje {
      display: flex;
      justify-content: space-around;
      columns: wrap;
      background: linear-gradient(#4ECCA3, #393E46); }
    body .contenedorGeneral .textolenguaje {
      display: flex;
      flex-direction: column;
      width: 75%;
      justify-content: center;
      align-self: center;
      margin: 10px;
      padding-bottom: 20px; }
      body .contenedorGeneral .textolenguaje .h3titulo {
        font-family: "Quicksand";
        color: #EEEEEE;
        justify-items: center;
        margin: 20px; }
      body .contenedorGeneral .textolenguaje p {
        font-family: sans-serif;
        color: black;
        margin: 10px; }
    body .contenedorGeneral .formulariocon {
      color: #EEEEEE;
      background: linear-gradient(#000000, #4ECCA3, #000000); }
    body .contenedorGeneral .fondoprin:hover {
      transform: scale(1.01);
      opacity: 0.8; }
  body h3 {
    color: #EEEEEE; }
  body .fondoprin {
    color: #EEEEEE;
    box-shadow: 2px 2px 15px #4ECCA3;
    background-color: #000000;
    transition: all 1s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto; }

/* COMIENZA LAS @MEDIAS QUERIES */
/* Comienza media queries para tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedorGeneral {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    /* TERMINA INDEX */
    /* INICIO ÁREAS */
    /* TERMINA ÁREAS */
    /* INICIO NOSOTROS */
    /* TERMINA NOSOTROS */
    /* esta completo */
    /*INCIA CONTACTO*/
    /* esta completo */
    /*TERMINA CONTACTO*/ }
    .contenedorGeneral .bloquePrincipal {
      display: flex;
      flex-direction: column; }
    .contenedorGeneral .bloqueblock {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; }
    .contenedorGeneral .bloque, body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover {
      flex-direction: row;
      align-items: center;
      width: auto; }
    .contenedorGeneral .bloqueimg {
      margin: 50px; }
    .contenedorGeneral .bloqueLenguaje {
      flex-direction: column;
      justify-content: center;
      width: 100%; }
  /* Termina media queries para tablets */ }

/* Comienza media queries para celulares */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contenedorGeneral {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 0.3fr 0.1fr !important;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    /* TERMINA INDEX */
    /* INICIO ÁREAS */
    /* TERMINA ÁREAS */
    /* INICIO NOSOTROS */
    /* TERMINA NOSOTROS */
    /*INCIA CONTACTO*/
    /*TERMINA CONTACTO*/
    /* footer */ }
    .contenedorGeneral .imgPrincipal {
      width: 100% !important; }
    .contenedorGeneral .bloquePrincipal {
      display: flex;
      flex-direction: column; }
    .contenedorGeneral .bloqueblock {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; }
    .contenedorGeneral .bloque, body .contenedorGeneral main .bloquePrincipal .bloqueblock .bloque-hover:hover {
      flex-direction: row;
      align-items: center;
      width: auto; }
    .contenedorGeneral .bloqueimg {
      margin: 50px; }
    .contenedorGeneral .bloqueLenguaje {
      width: 100%;
      flex-direction: column;
      justify-content: center; }
    .contenedorGeneral .imglenguaje {
      width: 100%;
      height: 100%;
      margin: auto; }
    .contenedorGeneral .imagenlenguaje {
      width: 100%;
      height: 100%;
      align-items: center; }
    .contenedorGeneral .textolenguaje {
      width: 100%; }
    .contenedorGeneral footer {
      display: flex;
      flex-direction: column; } }

/* Termina media queries para celulares */
