*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

$fuentetitulo:'Quicksand';
$fuentesub:sans-serif;
$colorclaro: #EEEEEE;
$colorceleste: #4ECCA3;
$colorgris: #393E46;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@import "header";
@import "footer";


/* BODY */

body{
    .contenedorGeneral{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 10fr 2fr; 
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";  

        main{
            background-color: #000000;
            height: auto;
            grid-area: main;

            section{
                .imgPrincipal{
                    width: 650px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px auto auto auto;
                }
            }
            .bloquePrincipal{
                @include flex-column;
                width: 100%;
                margin-top: 0px;
                background-color: $colorceleste;

                .bloqueSubtitulos{
                    @include flex-column;
                    justify-content: center;               

                    .subtitulos{
                        margin: 20px;
                        text-align: left;
                        font-family: $fuentetitulo;
                        color: $colorclaro;
                    }    
                    p{
                        color: $colorclaro; 
                        font-family: $fuentesub;
                    }
                }
                .bloqueblock{
                    @include flex-row;
                    flex-wrap: wrap;
                    justify-content:center;
                    align-items: center;
                    
                    
                    .bloque{
                        @include flex-column;
                        box-sizing: border-box;
                        width: 300px;
                        height: 700px;
                        background-color: $colorgris;
                        box-shadow: 1px 1px 10px $colorgris;
                        margin: 5px;
                        transition: all 1s;
                        
                        
                        .bloqueimg{
                            width: 200px;
                            margin: 50px 50px 10px 50px;
                            
                        }
                        h2{
                            font-family: $fuentetitulo;
                            color: $colorclaro;
                            text-align: center;
                        }
                        .bloqueparrafo{
                            font-family:$fuentesub;
                            color: $colorclaro;
                            padding: 10px;
                            width: 100%;
                            text-align: left;
                        }
                        .link_areas{
                            display: flex;
                            align-items: b;
                            justify-content: center;
                        }
                    }
                    .bloque-hover:hover{
                        @extend .bloque;
                        transform: scale(1.04);
                        opacity: 0.9;
                    }
                }
            }
        }

        /* Pagina nosotros*/
        .nosfrase{
            background-color: $colorclaro;

        }

        .parrafonos{
            font-family:$fuentesub;
            color: $colorclaro;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            columns: wrap;
            
        }
        .bloquenosotros{
            display: flex;
        }

        /* Pagina Areas*/

            .fondo{
            background-color: #000000;
    
            .titgeneralareas{
            color: $colorclaro;
            text-align: center;
            padding-top: 30px;
        }
        }

        .bloqueLenguaje{
            display: flex;
            justify-content: space-around;
            columns: wrap;
            background: linear-gradient($colorceleste,$colorgris,);
        
        }
        .textolenguaje{
            @include flex-column;
            width: 75%;
            justify-content: center;
            align-self: center;
            
            margin: 10px;
            padding-bottom: 20px;
            
            
        
            .h3titulo{
                font-family: $fuentetitulo;
                color: $colorclaro;
                justify-items: center;
                margin: 20px;
            }
            p{
                font-family: $fuentesub;
                color: black;
                margin: 10px;
            }
        }

        
        /* Pagina contacto */

        .formulariocon{
            color: #EEEEEE; 
            background: linear-gradient(#000000,#4ECCA3,#000000);
            }

            .fondoprin:hover{
                transform: scale(1.01);
                opacity: 0.8;
            }
    }

      /* Pagina noticias */

    h3{
        color: $colorclaro;
    }

    .fondoprin{
        color: #EEEEEE;
        box-shadow: 2px 2px 15px #4ECCA3;
        background-color: #000000;
        transition: all 1s;
    }
}

 /* COMIENZA LAS @MEDIAS QUERIES */

/* Comienza media queries para tablets */

@media screen and (min-width: 768px) and (max-width: 1024px){

    .contenedorGeneral{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"; 
    }
    .bloquePrincipal{
        display: flex;
        flex-direction: column;
    }
    .bloqueblock{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }
    .bloque{
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    .bloqueimg{
        margin: 50px;
    }
    

    
    /* TERMINA INDEX */
    
    /* INICIO ÁREAS */
    
    .bloqueLenguaje{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }


    /* TERMINA ÁREAS */
    
    /* INICIO NOSOTROS */
    
    /* TERMINA NOSOTROS */
             /* esta completo */
    /*INCIA CONTACTO*/
             /* esta completo */
    /*TERMINA CONTACTO*/


}
/* Termina media queries para tablets */

/* Comienza media queries para celulares */

@media screen and (min-width: 320px) and (max-width: 767px){

    .contenedorGeneral {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"; 
    }
    header{
        height: auto;
    }
    .imgPrincipal{
        width: 100%;
    }
    /* TERMINA INDEX */
    
    /* INICIO ÁREAS */
    
    .bloqueLenguaje{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .imglenguaje{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .imagenlenguaje{
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .textolenguaje{
        width: 100%;
    }

    
    
    /* TERMINA ÁREAS */
    
    /* INICIO NOSOTROS */

             /* esta completo */
    
    /* TERMINA NOSOTROS */
    
    /*INCIA CONTACTO*/
    /*TERMINA CONTACTO*/
}
/* Termina media queries para celulares */
